<div class="row  ">
  <div class="col-md-8">
    <h2><label for="partyname">   <span>Party Reservation Administration</span></label></h2>
  </div>

  <div class="col-md-4">
    <div class="form-group" style="text-align: right">
      <div class="input-group">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-outline-primary" (click)="editParty(-1)" ngbTooltip="Add a New Party Reservation">
            <fa-icon icon="plus"></fa-icon>
            Add New Reservation
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<hr class="my-3">

<div *ngIf="parties">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>
          <button class="btn btn-link" (click)="setSort('id')">
            Party Id
            <fa-icon [icon]="ascending ? 'sort-amount-down':'sort-amount-up'" *ngIf="sortColumn === 'id'"></fa-icon>
          </button>
        </th>
        <th>
          <button class="btn btn-link" (click)="setSort('name')">
            Party Name
            <fa-icon [icon]="ascending ? 'sort-amount-down':'sort-amount-up'" *ngIf="sortColumn === 'name'"></fa-icon>
          </button>
        </th>

        <th>
          <button class="btn btn-link" (click)="setSort('count')">
            Number of People
            <fa-icon [icon]="ascending ? 'sort-amount-down':'sort-amount-up'" *ngIf="sortColumn === 'count'"></fa-icon>
          </button>
        </th>


        <th>
          <button class="btn btn-link" (click)="setSort('partyTime')">
            Party time
            <fa-icon [icon]="ascending ? 'sort-amount-down':'sort-amount-up'" *ngIf="sortColumn === 'partyTime'"></fa-icon>
          </button>
        </th>

        <th>          Birthday      </th>
        <th>          Vip           </th>
        <th>          PrivateRoom   </th>
        <th>          FullFilled    </th>
        <th>Update</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let party of parties  | filter : searchText : ['name'] | sort : [sortColumn, ascending]">
        <td>
          {{ party.id }}
        </td>
        <td>
          {{ party.name }}
        </td>

        <td>
          {{ party.counts }}
        </td>
        <td>
          {{ party.partyTime | date:'short' }}
        </td>
        <td>
          <fa-icon *ngIf="party.birthday" icon="check-circle" size="1x"></fa-icon>
          <fa-icon *ngIf="!party.birthday" icon="circle-notch" size="1x"></fa-icon>
        </td>
        <td>
          <fa-icon *ngIf="party.vip" icon="check-circle" size="1x"></fa-icon>
          <fa-icon *ngIf="!party.vip" icon="circle-notch" size="1x"></fa-icon>
        </td>
        <td>
          <fa-icon *ngIf="party.privateRoom" icon="check-circle" size="1x"></fa-icon>
          <fa-icon *ngIf="!party.privateRoom" icon="circle-notch" size="1x"></fa-icon>
        </td>
        <td>
          <fa-icon *ngIf="party.fullFilled" icon="check-circle" size="1x"></fa-icon>
          <fa-icon *ngIf="!party.fullFilled" icon="circle-notch" size="1x"></fa-icon>
        </td>

        <td>
          <a class="btn btn-success btn-sm" (click)="editParty(party.id)"><fa-icon icon="edit"></fa-icon></a>
        </td>
        <td>
          <a class="btn btn-link btn-sm" href="#" (click)="$event.preventDefault();deleteParty(party)"><fa-icon icon="trash-alt"></fa-icon></a>
        </td>

      </tr>
    </tbody>
  </table>

  <hr class="my-3">
  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-1">
      <span>
        <button type="button" class="btn btn-primary" (click)="reset()" ngbTooltip="Delete all parties">Reset</button>
      </span>
    </div>
    <div class="col-md-2">
      <span>
        <button type="button" class="btn btn-primary" (click)="loadSampleData()" ngbTooltip="Re load the sample data parties">Load Sample Data</button>
      </span>
    </div>
  </div>




