<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<div class="row  ">
  <div class="col-md-8">
    <h2><label for="partyname">   <span>Party Reservation Administration</span></label></h2>
  </div>

  <div class="col-md-4">
    <div class="form-group" style="text-align: right">
      <div class="input-group">
        <i class="fa fa-search"></i>
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-outline-primary" (click)="editParty(-1)" ngbTooltip="Add a New Party Reservation">
            <i class="fa fa-plus"></i>
            Add New Reservation
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<hr class="my-3">

<div *ngIf="parties">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>
          <button class="btn btn-link" (click)="setSort('id')">
            Party Id
            <i [class]="ascending ? 'fas fa-sort-amount-down' : 'fas fa-sort-amount-up'" *ngIf="sortColumn === 'id'"></i>
          </button>
        </th>

        <th>
          <button class="btn btn-link" (click)="setSort('name')">
            Party Name
            <i [class]="ascending ? 'fas fa-sort-amount-down' : 'fas fa-sort-amount-up'" *ngIf="sortColumn === 'name'"></i>
          </button>
        </th>

        <th>Phone</th>

        <th>
          <button class="btn btn-link" (click)="setSort('counts')">
            Number of People
            <i [class]="ascending ? 'fas fa-sort-amount-down' : 'fas fa-sort-amount-up'" *ngIf="sortColumn === 'counts'"></i>
          </button>
        </th>

        <th>
          <button class="btn btn-link" (click)="setSort('partyTime')">
            Party time
            <i [class]="ascending ? 'fas fa-sort-amount-down' : 'fas fa-sort-amount-up'" *ngIf="sortColumn === 'partyTime'"></i>
          </button>
        </th>

        <th>Note</th>

        <th>Birthday</th>
        <th>Vip</th>
        <th>PrivateRm</th>
        <th>FullFilled</th>
        <th>Update</th>
        <th>Cancel</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let party of parties  | filter : searchText : ['name','notes'] | sort : [sortColumn, ascending]">
        <td>
          {{ party.id }}
        </td>

        <td>
          {{ party.name }}
        </td>

        <td>
          {{ party.phone }}
        </td>

        <td style="text-align: center;">
          {{ party.counts }}
        </td>

        <td>
          {{ party.partyTime | date:'short' }}
        </td>

        <td>
          {{ party.notes }}
        </td>

        <td>
          <i [class]="party.birthday ? 'fa fa-check-circle' : 'fa fa-circle-notch'" ></i>
        </td>

        <td>
          <i [class]="party.vip ? 'fa fa-check-circle' : 'fa fa-circle-notch'"></i>
        </td>

        <td>
          <i [class]="party.privateRoom ? 'fa fa-check-circle' : 'fa fa-circle-notch'"></i>
        </td>

        <td>
          <i *ngIf="!party.fullFilled" class="fa fa-circle-notch"></i>
          <i *ngIf="party.fullFilled" class="fa fa-check-circle"  style="font-size:24px"></i>
        </td>

        <td>
          <a class="btn btn-success btn-sm" (click)="editParty(party.id)"><i class="fa fa-edit"></i></a>
        </td>

        <td>
          <a class="btn btn-link btn-sm" href="#" (click)="$event.preventDefault();deleteParty(party)"><i class="fas fa-trash-alt"></i></a>
        </td>

      </tr>
    </tbody>
  </table>

  <hr class="my-3">

  <div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-1">
      <span>
        <button type="button" class="btn btn-primary" (click)="reset()" ngbTooltip="Delete all parties">Reset</button>
      </span>
    </div>
    <div class="col-md-2">
      <span>
        <button type="button" class="btn btn-primary" (click)="loadSampleData()" ngbTooltip="Re load the sample data parties">Load Sample Data</button>
      </span>
    </div>
  </div>




