<div class="pragraph-light-grey">
  <span class="titleclass">&nbsp;Welcome to party challenge, </span><span class="walterclass"> Walter Liu !</span>&nbsp;&nbsp;&nbsp;
  <span class="githubclass"> <a href='https://github.com/liuw10612/WalterLiuNexTechCodingChallengeStories'> Source Code ready</a></span>
</div>

<img [src]="'assets/img/DeliciousFood3.PNG'" alt="image">

<br />
<body>




  <section class="pragraph-white-smoke">
    <p>
      Project Overview
    </p>
  </section>

  <br />

  <section class="pragraph-white-smoke">
    <p>
      A local restaurant wants a reservation system they can access from a web browser. They want something that looks nice, is easy to use, and helps them manage day-to-day business.
    </p>
  </section>

  <br />
  <section class="pragraph-white-smoke">
    <p>    Project Requirements  </p>
    <ol>
      <li>      A reservation must have the date, the time, the party's name, and the number of people in the party.  </li>
      <li>      The host must be able to add reservations.    </li>
      <li>      The host must be able to cancel reservations. </li>

      <li>      The host must be able to mark a reservation as fulfilled. </li>
      <li>      The application must be a Single Page Application (no server rendering). Angular is preferred but not strictly required. </li>
      <li>      The application must have a simple workflow, and look visually appealing. </li>
      <li>      The reservations should be stored in localStorage between page loads, so they can be retrieved if the browser tab is closed and re-opened. </li>
      <li>      Bonus points for adding any enhancements or extra features above and beyond what is described above. </li>


    </ol>
  </section>
  <img [src]="'assets/img/DeliciousFood.PNG'" alt="image">

  <br />
</body>
